@using AssessingConditionModel.Models.PatientModel
@model Patient
@*

    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    
}

<html>
<head>
    <title>Информация о пациенте</title>
</head>
<body>
    <div>
        <p style="font-size:20px">Информация о пациенте:</p>
         @await Html.PartialAsync("PartialParametersView", Model)
    </div>
    <div>
        <table>
            <tr>
                <th><button onclick="LoadParameters('clinicalParameters')">Клинические параметры</button></th>
                <th><button onclick="LoadParameters('functionalParameters')">Функциональные параметры</button></th>
                <th><button onclick="LoadParameters('instrumentalParameters')">Инструментальные параметры</button></th>
            </tr>
        </table>
    </div>
    <div id="ParamsContent">

    </div>
    
   @* <div id=clinicalParameters>
        <div><p style="font-size:20px"><b>Клинические параметры</b></p><br /></div>
         @await Html.PartialAsync("PartialParametersView", Model.ClinicalParameters)
         @await Html.PartialAsync("PartialParametersView", Model.ClinicalParameters.GeneralBloodTest)
         @await Html.PartialAsync("PartialParametersView", Model.ClinicalParameters.GeneralUrineAnalysis)
         @await Html.PartialAsync("PartialParametersView", Model.ClinicalParameters.LungTissueDamage)
    </div>
    <div id=functionalParameters>
         <div><p style="font-size:20px"><b>Функциональные параметры</b></p><br /></div>
         @await Html.PartialAsync("PartialParametersView", Model.FunctionalParameters)
    </div>
    <div id=instrumentalParameters>
         <div><p style="font-size:20px"><b>Инструментальные параметры параметры</b></p><br /></div>
         @await Html.PartialAsync("PartialParametersView", Model.InstrumentalParameters)
    </div>  
*@
    
</body>
</html>

<script>
    function LoadParameters(parametersIdTable) {
        var patientId = @Model.MedicalHistoryNumber;
        $.ajax({
            url: '@Url.Action("SetParametersTable", "Home")',
            data: {patientId: patientId, parametersIdTable:parametersIdTable},
            type: 'get',
            cache: false,
            async: true,
            success: function (result) {
                $('#ParamsContent').html(result);
            }
        });
    }
</script>


