@using AssessingConditionModel.Models.PatientModel
@model Patient


<html>
<head>
    <title>Функциональные параметры</title>
</head>
<body>
     <div id=functionalParameters>
         <p style="font-size:20px">Функциональные параметры:</p>
         @await Html.PartialAsync("PartialParametersView", Model.FunctionalParameters)
    </div> 
</body>
</html>

