@model List<PatientParameter>

<table>
    <thead>
        <tr>
            <th>@Html.LabelFor(m => m.PatientId, new { @class = "col-sm-2 control-label" })</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>
