@using Interfaces
@model Patient

<!DOCTYPE html>
<html>
    <head>
        <title>Добавление пациента</title>
    </head>
    <body>
        <div class="panel-body">
        @using (Html.BeginForm("AddPatient","Patient", FormMethod.Post))
            {
                <div class="form-group">
                    <label>ФИО</label>
                    @Html.TextBoxFor(x=>x.Name)
                </div>
                <div class="form-group">
                    <label>Номер истории болезни</label>
                    @Html.TextBoxFor(x=>x.MedicalHistoryNumber)
                </div>
                <div class="form-group">
                    <label>Дата рождения</label>
                    @Html.EditorFor(x=>x.Birthday)
                </div>
                <div class="form-group">
                    <label>Пол</label>
                    @Html.DropDownListFor(x=>x.Gender, Html.GetEnumSelectList(typeof(GenderEnum)))
                </div>
                <div class="text-center"><input type="submit" value="Принять" class="btn btn-success" />
                </div>
            }
        </div>
    </body>
</html>
