 
<div id="influences">
                <div><p style="font-size:20px;font-weight:bold;">Воздействия</p></div>
                <table style="table-layout: fixed;" class="table table-sm">
                    <tr>
                        <th colspan="2">Начало периода:</th>
                        <th colspan="2"><input style="width:100%" type="date" id="patientInfluencesDt1" /></th>
                        <th colspan="2">Окончание периода:</th>
                        <th colspan="2"><input style="width:100%" type="date" id="patientInfluencesDt2" /></th>
                    <th colspan="2"><button style="width:100%" onclick="GetPatientInfluences()">Показать</button></th>
                    </tr>
                </table>
                <div id="influencesInfo"></div>
</div>

<script>
    function GetPatientInfluences() {
        var pId = @Model.Patient.MedicalHistoryNumber;
        var startTime = document.getElementById("patientInfluencesDt1").value;
        var endTime = document.getElementById("patientInfluencesDt2").value;
        $.ajax({
            url: '@Url.Action("GetPatientInfluences", "Patient")',
            data: { patientId: pId, startTimestamp: startTime, endTimestamp: endTime },
            type: 'get',
            cache: false,
            async: true,
            success: function (result) {
                $('#influencesInfo').html(result);
            }
        });
    }
</script>