@model IEnumerable<Influence>
@{
    int number = 1;
}

@foreach(Influence inf in Model)
{
    <div style="margin-bottom: 5px;border:1px solid black;border-left:none;border-right:none;">
        <div><b>@(number++))</b></div>
        @Html.DisplayFor(x=>inf)
</div>
}

    