@using Interfaces
@model Patient

<!DOCTYPE html>
<html>
<head>
    <title>Добавление пациента</title>
</head>
<body>
    <div class="panel-body">
        @using (Html.BeginForm("EditPatient", "Patient", FormMethod.Post))
        {
            @await Html.PartialAsync("PatientInputView", Model)
            <div class="text-center">
                <input type="submit" value="Принять" class="btn btn-success" />
            </div>
        }
    </div>
</body>
</html>
