@using Interfaces
@model Patient

<!DOCTYPE html>
<html>
<head>
    <title>Изменение пациента</title>
     <style>
        th {
            text-align: left;
        }
        </style>
</head>
<body>
    <div class="panel panel-default">
        <div class="panel-heading">Изменение пациента</div>
        <div class="panel-body">
            @using (Html.BeginForm("EditPatient", "Patient", FormMethod.Post))
            {
                @Html.EditorFor(x=>x)
                <div class="text-center">
                    <input type="submit" value="Принять" class="btn btn-success" />
                </div>
            }
        </div>
    </div>
</body>
</html>
