@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
<head>
    <style>
        th {
            text-align: center;
            font-weight: normal;
        }

        .sidenav {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #0288d1;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
        }

            .sidenav button {
                background-color: transparent;
                border: none;
                font-size: 25px;
                color: #f1f1f1;
                display: block;
                transition: 0.3s;
                text-decoration: none;
            }

                .sidenav button:hover {
                    color: #f1f1f1;
                }

            .sidenav .closebtn {
                position: absolute;
                top: 0;
                right: 25px;
                font-size: 36px;
                margin-left: 50px;
            }
    </style>
</head>
<body>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <button onclick="GetPanel('commonBioAgeDynamic')">Общая динамика биовозраста</button>
    </div>
    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; меню</span>
    <div id="Content"></div>
</body>
</html>

<script>
    function GetPanel(panelName) {
        $.ajax({
            url: '@Url.Action("GetPartialViewByTag", "Medic")',
            data: { tag: panelName },
            type: 'get',
            cache: false,
            async: true,
            success: function (result) {
                $('#Content').html(result);
            }
        });
        closeNav();
    }
</script>

<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }
</script>
