@{
    ViewData["Title"] = "Home Page";
}

<html>
<head>
    <title>Главная страница</title>
    <style>
            th {text-align: center; font-weight: normal;}
    </style>
</head>
<body>
    <div>@await Html.PartialAsync("~/Views/MedicPersonalPage/MedicView.cshtml")</div> 
</body>
</html>